/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: pink;
}

h1 {
  font-style: italic;
  color: white;
}

.w3-col{
  width: 150px;
  
}

.col-2{
  width: 20%;
}

.col-3{
  width: 60%;
}